<form novalidate class="simple-form">
    <div class="row">
        <div class="col-md-12">
            <form role="form">
                <div class="form-group">
                    <label for="username">Current password</label>
                    <input type="password" class="form-control" id="organization" placeholder="Enter the username" ng-model="user.currentPassword" ng-required>
                </div>

                <div class="form-group">
                    <label for="password">New password</label>
                    <input type="password" class="form-control"  placeholder="Enter the password" ng-model="user.newPassword">
                </div>

                <div class="form-group">
                    <label for="password">Retype the new password</label>
                    <input type="password" class="form-control" placeholder="Enter the password again" ng-model="user.confirmPassword">
                </div>
                <button type="submit" ng-click="changePassword()" ng-disabled="user.newPassword!==user.confirmPassword" class="btn btn-primary" >Change password</button>

                <div style="color:red" ng-show="user.newPassword!==user.confirmPassword">
                    Passwords don't match...
                </div>

                <div style="color:red" ng-show="displayErrorMessage">
                    Invalid password... please try again more carefully
                </div>
                <div style="color:green" ng-show="displaySuccessMessage">
                    The password was successfully changed
                </div>
            </form>
        </div>
    </div>
</form>