

    <h1>{{selectedOrganization}}</h1>
    <br>
    <div ng-repeat="(key,value) in nameInformation">
            <h3>{{key}} : {{value}}</h3>
    </div>
    <br>

    <a ng-show="hasIdentity" ng-href="{{host}}/fetchIdentity/{{selectedOrganization}}" class="btn btn-primary">Get Identity</a>
    <a ng-show="needsIdentity&&serverInfo.caAvailability" ng-href="{{host}}/#/registerForCertification" class="btn btn-primary">Register for certification</a>

    <br>

    <div ng-show="hasConfigurations">
        <h3>Available configurations:</h3>
        <br>
            <div ng-repeat="usage in usages" style="display:inline">
                <a ng-click="seeConfiguration(usage)" class = "btn btn-primary" >
                    {{usage}}
                </a>
            </div>
        <br>
            <div style="float:right" class >
                <a ng-href="{{host}}/#/addConfiguration" class="btn btn-primary"> Add another configuration</a>
            </div>
        <br>

        <div ng-show="hasSelectedConfiguration">
            <h3>{{selectedUsage}} Configuration:</h3>
                        <div style="display:inline" ng-repeat ="(key,value) in selectedConfiguration">
                <div>{{key}} : {{value}}</div>
            </div>
        </div>
    </div>



