

    <h1>{{selectedOrganization}}</h1>
    <br>
    <div ng-repeat="(key,value) in nameInformation">
            <h3>{{key}} : {{value}}</h3>
    </div>
    <br>

    <a ng-show="hasIdentity" ng-href="{{host}}/fetchIdentity/{{selectedOrganization}}" class="btn btn-primary">Get Identity</a>

    <div ng-show="serverInfo.caAvailability">
        <a ng-show="needsIdentity" ng-href="http://{{directLink}}" class="btn btn-primary">Generate your identity</a>
        <br>
        <h3 style="color:red">The following code can be used by the client:</h3>
        <textarea cols="30" rows="4" readonly ng-model="magicCode"></textarea>
    </div>

    <br>

    <div>
        <h3 ng-show="!configurationsUnavailable">Available configurations:</h3>
        <h3 ng-show="configurationsUnavailable">Add configurations</h3>
        <br>
            <div ng-repeat="usage in usages" style="display:inline">
                <a ng-click="editConfiguration(usage)" class = "btn btn-primary" >
                    {{usage}}
                </a>
            </div>
        <br>
        <br>
    </div>

    <div ng-show="readyToEdit">
        <div ng-show="askForNewUsage">
            <h3>Type here the usage of this new configuration (*required)</h3>
            <input type="text" ng-model="newUsage.content" >
        </div>
        <div ng-show="!askForNewUsage">
            <h3>{{selectedUsage}}</h3>
        </div>
        <br>
        <br>

        <textarea cols="50" rows="10" ng-model="selectedConfiguration.content"></textarea>
        <a ng-click="updateConfiguration()" class = "btn btn-primary" >Update</a>

        <div style="color:red" ng-show="invalidJson">
            <h4>Invalid JSON format...</h4>
        </div>

        <div style="color:red" ng-show="noUsage">
            <h4>You need to fill the usage field...</h4>
        </div>
    </div>




