<h1>
    This is the administrative tool for the httpsServices server
</h1>
<div ng-show="serverInfo.caAvailability&&serverInfo.nsAvailability&&serverInfo.cnfAvailability">
    <h3>
        On the left are all the registered organizations<br>
        Click on one to see more details<br><br>

        By using the following button you can add new organizations to your network <br><br>
        <a href="http://localhost:3000/#/registerName" ng-show="serverInfo.nsAvailability" class="btn btn-primary"> Add new organization</a>

    </h3>
</div>
<div ng-show="!(serverInfo.caAvailability&&serverInfo.nsAvailability&&serverInfo.cnfAvailability)">
    <h3>
        Before being able to perform any operations you must fully configure your server</h3> <br>

        <div ng-show="!serverInfo.caAvailability&&!serverInfo.nsAvailability&&!serverInfo.cnfAvailability">
           <h3> For a default full configurations use the following button</h3><br>
            <button type="button" ng-click="setupServer()"  class="btn btn-primary" >
                Setup server services with default values
            </button>
        </div>
        <br>
        <br>
        <h3>If you have other prefferences use the following facilities:</h3><br>
    <a href="http://localhost:3000/#/setupNameService"  ng-show="!serverInfo.nsAvailability" class="btn btn-primary">Setup nameService</a><br>
    <a href="http://localhost:3000/#/setupCertificationAuthority"  ng-show="!serverInfo.caAvailability" class="btn btn-primary">Setup certificationAuthority</a><br>
    <a href="http://localhost:3000/#/setupConfigurationService"  ng-show="!serverInfo.cnfAvailability" class="btn btn-primary">Setup configurationService</a><br>

</div>
